<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="indianred">
    <ion-title>Detalle de tarea</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="light" (click)="close()">
        Regresar
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="powerdblue">
  <ion-card *ngIf="showCard">
    <ion-card-header color="beige">
      <ion-card-subtitle class="ion-text-end">
        <ion-chip color="primary" class="ion-text-end">
          <ion-label color="primary">Id: {{task.id}}</ion-label>
        </ion-chip>
      </ion-card-subtitle>
      <ion-card-title>
        {{task.name}}
      </ion-card-title>
      <ion-card-subtitle>Fecha de creación: {{task.created_at | date}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{task.description}}
    </ion-card-content>
  </ion-card>
</ion-content>
