ion-card-content {
    --background: red;
}

.list-item-background-color {
    background: beige !important;
}

ion-item-option::part(native) {
    min-width: 60px;
}

ion-icon {
    font-size: 20px; //Preferred size here
}