<ion-item-sliding #slidingItem>
  <ion-item class="list-item-background-color" color="beige" (click)="openSliding(slidingItem)">
    <ion-label>{{ task.name }}</ion-label>
    <ion-icon name="arrow-forward-outline" size="large" slot="end" color="powerdblue"></ion-icon>
  </ion-item>
  <ion-item-options side="start">
    <ion-item-option color="primary" (click)="onShowTask(task)" slot="start"><ion-icon name="eye"></ion-icon></ion-item-option>
    <ion-item-option color="medium" (click)="onEditTask(task)"><ion-icon name="create"></ion-icon></ion-item-option>
    <ion-item-option color="danger" (click)=presentAlertConfirm(task.id)><ion-icon name="trash"></ion-icon></ion-item-option>
  </ion-item-options>
</ion-item-sliding>