<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="indianred">
    <ion-title color="light">
      Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="powerdblue custom-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tareas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentAlertPrompt()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-tasks 
    [tasks] = "tasks"
    (deleteTask)=removeTask($event)
    (editTask)="editPresentAlertPrompt($event)"
    (showTask)="initModal($event)">
  </app-tasks>
</ion-content>
